
.jfx-decorator-button {
	-fx-background-color: TRANSPARENT;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
}

.jfx-decorator-buttons-container {
	-fx-padding: 0 0 4 0;
}


.jfx-dialog-overlay-pane {
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.1);
}

.close-button:hover {
	-fx-background-color: rgb(232, 17, 35);
}

* {
   -fx-base-color: rgb(31.0, 31.0, 31.0);
   -fx-red-color:  rgb(232.0, 17.0, 35.0);
}

#contentContainer {
	-fx-background-color: rgba(100.0, 190.0, 250.0, 0.9);
}

#statusContainer {
	-fx-padding: 3.0 5.0 3.0 5.0;
	-fx-background-color: rgb(50.0, 90.0, 120.0);
	-fx-alignment: CENTER_LEFT;
	-fx-spacing: 10.0px;
}

#statusContainer FontIcon, #statusContainer SpinningFontIcon {
	-fx-icon-size: 16.0px;
	-fx-icon-color: WHITE;
}

#errorIcon {
	-fx-icon-color: -fx-red-color;
}
